/* CSS3- Genereller Style */
@import url('https://fonts.googleapis.com/css?family=Abel|Roboto+Condensed');

body {
    background-color: #fff;
    font-size: 100%; /* Mutter für alle Groeßenverhaeltnisse*/
    margin: 0em;
    padding: 0em;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.5em; /* Schrift Groesse Basis 100%-40Px */
    line-height: 3.8em; /* Hoehe des Headers Basis 2.5em-152px */
    font-weight: 100; /* Schrift dicke */
    color: #152469;
    margin: 0em;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.563em; /* Hoehe des Headers Basis 100%-25px */
    line-height: 1.8em; /* Hoehe des Headers Basis 1.563em-45px */
    font-weight: 100;
    color: #152469;
    margin: 0em;
    padding: 1.5em; /* Innerer Abstand Basis 1.563em-37px */
    text-align: center;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.563em; /* Hoehe des Headers Basis 100%-25px */
    line-height: 1.8em; /* Hoehe des Headers Basis 1.563em-45px */
    font-weight: 100;
    color: #fff;
    margin: 0em;
    padding: 1.5em; /* Innerer Abstand Basis 1.563em-37px */
    text-align: justify;
}

form {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em; /* Schrift Groesse Basis 100%-40Px */
    line-height: 1.8em; /* Hoehe des Headers Basis 2.5em-152px */
    font-weight: 100; /* Schrift dicke */
    color: #152469;
    margin: 0em;
    text-align: center;
    display: grid;
}
button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em; /* Schrift Groesse Basis 100%-40Px */
    line-height: 1.0em; /* Hoehe des Headers Basis 2.5em-152px */
    font-weight: 100; /* Schrift dicke */
    color: #152469;
    margin-top: 2em;
}
/*Listen*/
ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #152469;
    line-height: 1.25em; /* Hoehe der Schrift Basis 100%-20px */
    padding: 0em;
}

ol {
    display: block;
}

    ol li {
        list-style-type: square;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 100;
        color: #152469;
        line-height: 1.25em; /* Hoehe der Schrift Basis 100%-20px */
        padding: 0em;
    }
/*Text*/
p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #152469;
    line-height: 1.25em; /* Hoehe der Schrift Basis 100%-20px */
    padding: 0em;
}
/*Bild*/
img {
    width: 85.0%;
    height: auto;
    max-width: 100%;
}
/*Video*/
video {
    width: 90%;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}
/*Link*/
a {
    text-decoration: none;
}

/*Header*/

header {
    display: block;
    background-color: #c6e2ff;
    text-align: center;
}

/*Navigation*/

nav {
    display: block;
    height: 2.5em; /* Hoehe der Navigationsleite Basis 100%-40px */
    background: #2184c5;
    text-align: center;
}

    nav ul {
        display: block;
    }

        nav ul li {
            display: inline;
            margin: 0em 1.88em 0em 1.88em; /* Basis 100%-30px(1.88em) Abstand zwischen den einzelnen Links */
        }

            nav ul li a {
                color: #fff;
                font-size: 1.125em; /* Groesse der Schrift Basis 100%-18px */
                line-height: 2.5em; /* Basis 1.125em(18px)-45px */
                padding: 0.667em 0.938em 0.375em 0.938em; /* Groesse der Schaltflaeche Basis 1.125em-12px 16px 6px 16px */
                transition: background 0.5s;
                -webkit-transition: background 0.5s;
            }

                nav ul li a:hover {
                    background-color: #0FA1FF;
                    border-bottom: 0.188em solid #0B3F60; /* Strich unterhalb der Navigation 3px dick */
                }

                nav ul li a.active {
                    border-bottom: 0.188em solid #af1d12; /* aktiver Zustand Strich unterhalb der Navigation 3px dick */
                }
/* Ende Navigation */


#icon {
    vertical-align: middle;
    max-width: 24px !important;
    max-height: 24px;
    box-shadow: none !important;
}


/*on Top Bar*/
#menubar {
    display: block;
    background: #fff;
}


    #menubar ul {
        display: block;
        width: 2.0em; /* basis 100%-32px */
        padding: 1.0em; /* basis 100%-16px */ /* höhe der Menubar 64px */
    }

        #menubar ul li {
            display: inline;
        }

            /*menubar für mobil*/
            #menubar ul li a.menubutton {
                display: none;
            }

/*Content*/

#sectionindex {
    border: solid;
    border-block-color: #152469;
    border-radius: 15px;
    background-color: azure;
    padding: 3em;
}

#sectioninfo {
    border: solid;
    border-block-color: #152469;
    border-radius: 15px;
    background-color: azure;
    padding: 3em;
}

    #sectioninfo ul {
        display: inline-block;
    }

        #sectioninfo ul li {
            padding: 1em;
            border: solid 0.1em;
            border-color: #152469;
            border-radius: 5px;
            margin: 0.5em;
        }

#protokollul {
    border: solid;
    border-block-color: #152469;
    border-radius: 15px;
    background-color: azure;
    padding: 1em;
    margin: 1em;
}
    #protokollul li {
        padding: 1em;
        border: solid 0.1em;
        border-color: #152469;
        border-radius: 5px;
        margin: 0.5em;
    }


#content {
    display: block;
    text-align: center;
    width: 90%;
    max-width: 980px;
    margin: 1.25em auto 1.25em auto; /* Abstand um den Text Basis 100%-20px,auto */
    padding: 0em;
}


/*Footer*/

#footer {
    display: block;
    background-color: #152469;
    text-align: center;
}

    /*Rahmen für Footer*/
    #footer ul {
        display: block;
        width: 50%;
        text-align: left;
    }

        #footer ul li {
            display: inline;
            font-size: 0.8em; /* Basis100%-12px */
            line-height: 2.8em; /* Basis 0.8em-33px */
            color: #fff; /* farbe des Inhalts des Footer */
            padding: 0em 0.625em 0em 0.625em; /* entspricht Basis 100%- 0px 10px 0px 10px  */
        }


/*mobile style*/
@media screen and (max-width:800px) {
    body {
        font-size: 93.8%;
        display: block;
    }

    nav img {
        max-width: 25px;
        vertical-align: middle;
        margin-left: 5px;
    }
}



@media screen and (max-width:550px) {
    body {
        font-size: 87.5%;
    }

    .insta {
        display: none;
    }


    #menubar {
        background: #af1d12;
    }

        #menubar ul li a.menubutton {
            display: block;
        }


    nav {
        display: none;
        height: auto;
    }

        nav ul li {
            display: block;
            margin: 0em 0em 0.3em 0em;
        }
}
